
<h4 class="mt-3" style="text-align: center;">Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <label>Full Name</label>
    <br>
    <input class="form-control" type="text" name="full_name" placeholder="Bruce Wayne">
  </div>
  
  <div class="mb-2">
    <label>Email</label>
    <br>
    <input class="form-control" type="email" name="email" placeholder="afred@waynemanor.com">
  </div>

  <div class="mb-2">
    <label>LinkedIn URL</label>
    <br>
    <input class="form-control" type="url" name="linkedin" placeholder="https://linked.com/in/brucewayne">
  </div>

  <div class="mb-2">
    <label>Education</label>
    <br>
    <textarea class="form-control" name="education"></textarea>
  </div>

  <div class="mb-2">
    <label>Work Experience</label>
    <br>
    <textarea class="form-control" name="experience"></textarea>
  </div>

  <div class="mb-2">
    <label>Resume URL</label>
    <br>
    <input class="form-control" type="url" name="resume_url">
  </div>
  
  <input type="submit" class="btn btn-primary mb-3">
</form>